﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Set footer to bottom*/
.footer {
    background-color:black;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

body {
    background-image: url(Pic/Webshop_Hintergrund.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

div.jumbotron{
    color: white;
    background: none;
    background-position:center;
    text-align: center;
}
