﻿@model Webshop_Games.Models.Cart_VM

@{
    ViewBag.Title = "Cart";
}

<style>
    #product {
        background-color: lightblue;
    }

    #table-text {
        text-align: left;
    }
    h2 {
        color:ivory;
    }
</style>

<h2>Warenkorb</h2>

<table class="table" id="product">

    @foreach (var item in Model.Product)
    {
        
    <tr>
        <td rowspan="2">
            <img src="@item.ImagePath" width="75" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <p>
                Einzelpreis: € @Html.DisplayFor(modelItem => item.Price)
            </p>
        </td>
        <td>
            <form method="post" action="/Cart/ChangeQty2">

                <input type="hidden" name="qty" value="1" />
                <input type="hidden" name="proId" value="@item.ProductId" />

                <button name="info" value="false" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-minus-sign"></span>
                </button>

                @item.Quantity

                <button name="info" value="true" class="btn btn-sm btn-success">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>

                <button name="info" value="" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            <p>
                Gesamt: € @Html.DisplayFor(modelItem => item.LinePrice)
            </p>
        </td>
        <td>
            @Html.ActionLink("Zurück zur Detailansicht", "Details", "Product", new { id = item.ProductId }, null)
        </td>
    </tr>
        
    }
</table>
<div id="product">
    <p>Gesamtpreis: @Model.PriceTotal.ToString("C2")</p>
</div>

<div>
    <a href="@Url.Action("GetOrders", "Orders")">Bestellen</a>
</div>

