﻿
@{
    ViewBag.Title = "CartIsEmpty";
}

<style>
    h2, p, hr {
        color: ivory;
        text-align: center;
    }
</style>

@{
    var data = ViewBag.Message;
}

<p>@data</p>

<p>@Html.ActionLink("Zurück zur Produktliste", "Index", "Product")</p>