﻿@model Webshop_Games.Models.Orders_VM

@{
    ViewBag.Title = "GetOrders";
}

<style>
    #table-text {
        text-align: left;
    }

    #product, h2, h3, p {
        color: ivory;
    }
</style>



<h2>Ihre Bestellung</h2>
<div class="row" id="product">
    @foreach (var item in Model.OrderedProducts)
    {

        <div class="col-md-3">
            @item.ProductName
        </div>
        <div class="col-md-3">
            @item.CompanyName
        </div>
        <div class="col-md-3">
               Stück: @item.Quantity
        </div>
        <div class="col-md-3">
            @item.LinePrice.ToString("C2")
        </div>
    }
        <div class="col-md-3 col-md-offset-9">
            <p>Gesamtpreis:€ @Html.DisplayFor(x => x.TotalPrice)</p>
        </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3>Rechnungsadresse</h3>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="product">
        @Html.DisplayFor(x => x.Tilte) <br />
        @Html.DisplayFor(x => x.FirstName) <br />
        @Html.DisplayFor(x => x.LastName) <br />
        @Html.DisplayFor(x => x.Street)<br />
        @Html.DisplayFor(x => x.ZipCode)<br />
        @Html.DisplayFor(x => x.City)
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <hr />
        <h3>Andere Lieferadresse?</h3>
        <form action="/Orders/SaveOrder" method="post" id="sub">
            <input type="text" name="@nameof(Model.BillAdress.Title)" placeholder="Anrede" /><br />
            <input type="text" name="@nameof(Model.BillAdress.Firstname)" placeholder="Vorname" /><br />
            <input type="text" name="@nameof(Model.BillAdress.Lastname)" placeholder="Nachname" /><br />
            <input type="text" name="@nameof(Model.BillAdress.Street)" placeholder="Straße" /><br />
            <input type="text" name="@nameof(Model.BillAdress.ZipCode)" placeholder="Postleitzahl" /><br />
            <input type="text" name="@nameof(Model.BillAdress.City)" placeholder="Stadt" /><br />
            <input type="submit" value="Bestellung abschicken" class="btn btn-default" onclick="check()" />
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
<div id="ausgabe"></div>









