﻿@model Webshop_Games.Models.Orders_VM

@{
    Layout = null;
    ViewBag.Title = "Receipt";
}

<div class="row text-center">
    Webshop_Games GmbH<br />
    Simmeringer Hauptstraße 47-49<br />
    1110 Wien<br />
    Tel.: +1 123 456 78<br />
    E-Mail/www: office@webshop_games.at www.webshop_games.at<br />
    UID: ATU12345678
</div>
<div class="row">
    <h2>Ihre Rechnung (RchNr. @Model.OrderId) vom @Model.DateOrdered</h2>
    <p class="text-left">
        @Model.Tilte @Model.FirstName @Model.LastName<br />
        @Model.Street <br />
        @Model.ZipCode @Model.City
    </p>
</div>
@*<div class="row">
    <h2>Lieferadresse</h2>
    <p class="text-left">
        @Model.BillAdress.Title @Model.BillAdress.Firstname @Model.BillAdress.Lastname<br />
        @Model.BillAdress.Street <br />
        @Model.BillAdress.ZipCode @Model.BillAdress.City
    </p>
</div>*@
<div class="row text-right">
    @foreach (var p in Model.OrderedProducts)
    {
        <p>Stück: @p.Quantity Gesamtpreis:  @p.LinePrice.ToString("C2")</p>
    }
</div>
<hr />
<div class="row text-right">
    Nettobetrag: @Model.NetPrice.ToString("C2") 20% Mwst.<br />
    <b>Gesamtpreis: @Model.TotalPrice.ToString("C2")</b>
</div>
