﻿
@{
    ViewBag.Title = "SaveOrder";
}

<style>
    h1 {
        color: ivory;
    }
</style>

<h1>Ihre Bestellnummer lautet: @ViewBag.OrderId</h1>
<h1>Wird bedanken uns vielmals für Ihre Bestellung und wünschen Ihnen noch einen schönen Tag.</h1>


