﻿@model Webshop_Games.Models.Customer_VM

@{
    ViewBag.Title = "OrdersList";
}

<style>
    #product {
        background-color: lightblue;
    }

    #table-text {
        text-align: left;
    }

    h2, h3 {
        color: ivory;
    }
    p {
        padding: 10px;
    }
</style>

<h2>Ihre Bestellungen</h2>
<table id="product">
    @foreach (var item in Model.CustomerOrders)
    {
        <tr class="table-bordered">
            <td>
                <p>Bestellnummer: @item.OrderId</p>
            </td>
            <td>
                    <p>Bestellt am: @item.DateOrdered</p>
            </td>
            <td>
                    <p>Bezahlt am: @item.DatePaid</p>
            </td>
        </tr>
        foreach (var line in item.Orderline)
        {
            <tr class="table-bordered">
                <td>
                    <img src="@line.ImagePath" width="100" />
                </td>
                <td>
                    @line.ProductName
                </td>
                <td>
                    @line.CompanyName
                </td>
                <td>
                    <p>Anzahl: @line.Quantity</p>
                </td>
                <td>
                    <p>Einzelpreis: @line.UnitPrice.ToString("C2")</p>
                </td>
                <td>
                    <p>Gesamtpreis: @line.LinePrice.ToString("C2")</p>
                </td>
            </tr>
        }
    }
</table>
