﻿
@{
    ViewBag.Title = "Contact";
}

<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
<style>
    .map {
        height: 300px;
        width: 100%;
    }
</style>
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>

<style>
    h2, h3, p {
        color: ivory;
    }
</style>

<div id="map" class="map"></div>
<script type="text/javascript">
    var map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([16.410989910364, 48.179597104861]),
            zoom: 19
        })
    });
</script>

<h2>Contact</h2>

<h3>Anschrift:</h3>
<p>Simmeringer Hauptstraße 47-49</p>
<p>1090 Wien</p>
<p>Österreich / Austria</p>
<p>kavallar.siegfried@@hotmail.com</p>

@Html.ActionLink("Home", "Index", "Home")



