﻿
@{
    ViewBag.Title = "Datenschutz";
}

<style>
    h2, h3, p {
        color: ivory;
    }
</style>

<h2>Datenschutz</h2>

<p>Durch die Nutzung unseres Internetangebotes, werden von Ihnen keine persönlichen Daten gespeichert. Es werden nur allgemeine Daten wie der Name Ihres Internet-Service-Providers, die Web-Adresse (URL), von der Sie auf unsere Seiten kommen und die Internetseiten, die Sie bei uns besuchen gespeichert und ausschließlich für statistische Zwecke verwendet.</p>
<p>Persönliche Daten werden nur bei der Verwendung bestimmter Services erhoben.. Diese Daten entsprechen ausschließlich den Angaben, die Sie selbst machen. Persönliche Daten, die Sie uns über die Website oder per E-Mail zusenden, werden nicht an Dritte weitergegeben, nur für den vorgesehenen Zweck verwendet und gemäß den jeweils geltenden datenschutzrechtlichen Bestimmungen behandelt.</p>
@Html.ActionLink("Home", "Index", "Home")
