﻿
@{
    ViewBag.Title = "Impressum";
}

<style>
    h2, h3, p {
        color: ivory;
    }
</style>

<h2>Anschrift:</h2>
<p>Simmeringer Hauptstraße 47-49</p>
<p>1090 Wien</p>
<p>Österreich / Austria</p>
@Html.ActionLink("Home", "Index", "Home")
