﻿@model Webshop_Games.Models.Orders_VM

@{
    Layout = null;
    ViewBag.Title = "Receipt";
}

<div class="row text-center">
    Webshop_Games GmbH<br />
    Simmeringer Hauptstraße 47-49<br />
    1110 Wien<br />
    Tel.: +1 123 456 78<br />
    E-Mail/www: office@webshop_games.at www.webshop_games.at<br />
    UID: ATU12345678
</div>
<div class="row">
    <h2>Ihre Rechnung #@Model.OrderId vom @Model.DateOrdered</h2>
    <p class="text-left">
        @Model.Tilte @Model.FirstName @Model.LastName<br />
        @Model.Street <br />
        @Model.ZipCode @Model.City
    </p>
</div>
<div class="row text-right">
    @foreach (var p in Model.OrderedProducts)
    {
        <p>Stück: @p.Quantity Gesamtpreis: € @p.LinePrice</p>
    }
</div>
<hr />
<div class="row text-right">
    Nettobetrag: € @Model.NetPrice<br />
    <b>Gesamtpreis: € @Model.TotalPrice</b>
</div>
