﻿@model Webshop_Games.Models.Details_VM

@{
    ViewBag.Title = "Details";
}

<style>
    #product {
        background-color: lightblue;
    }
    h2 {
        color: ivory;
    }
    #pstyle {
        font-size: large;
    }
</style>

<h2>Produktdetail</h2>

<div class="row" id="product">
    <div class="col-md-4">
        <img src="@Model.ImagePath" width="300" />
    </div>
    <div class="col-md-6">
        <p id="pstyle">@Html.DisplayFor(model => model.Name)</p>
        <hr />
        <p id="pstyle">Kategorie</p>
        <p>@Html.DisplayFor(model => model.CategoryName)</p>
        <hr />
        <p id="pstyle">Hersteller</p>
        <p>@Html.DisplayFor(model => model.CompanyName)</p>
        <hr />
        <p id="pstyle">Preis in Euro</p>
        <p>@Html.DisplayFor(model => model.Price)</p>
        <hr />
        <p id="pstyle">Beschreibung</p>
        <p>@Html.DisplayFor(Model => Model.Description)</p>
    </div>
    <div class="col-md-2">
        <form method="post" action="/Cart/ChangeQty">
            <button name="info" value="false" class="btn btn-sm btn-danger">
                <span class="glyphicon glyphicon-minus-sign"></span>
            </button>
            @Model.Quantity

            <input type="hidden" name="qty" value="1" />
            <input type="hidden" name="proId" value="@Model.Id" />

            <button name="info" value="true" class="btn btn-sm btn-success">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>

            @*<button name="info" class="btn btn-sm btn-danger">
            <span class="glyphicon glyphicon-remove-sign"></span>
        </button>*@
        </form>
        <p>
            @Html.ActionLink("Zurück zur Produktliste", "Index")
        </p>
    </div>
</div>
