﻿@model List<Webshop_Games.Models.Product_VM>

@{
    ViewBag.Title = "Index";
}

<style>
    h2 {
        color: ivory;
    }

    #product {
        background-color: lightblue;
    }

    #table-text {
        text-align: left;
    }
    #pstyle {
        font-size: large;
    }
    #textcenter {
        text-align: center
    }
    #wrapper {
        display: flex;
        justify-content: center;
    }
</style>

<h2>Produktliste</h2>

<form action="/Product/Search" method="get">
    <div class="row">
        <div class="col-md-4">
            <select name="catId" id="catId">
                @foreach (var item in (Dictionary<int, string>)TempData["Categories"])
                {
                    <option value="@item.Key">@item.Value</option>
                }
            </select>
            <input type="submit" value="Auswählen" />
        </div>
        <div class="col-md-4 col-md-offset-4">
            <input type="text" placeholder="Suche.." name="search">
        </div>
    </div> 
</form>

<table class="table" id="product">

    @foreach (var item in Model)
    {
        <tr class="table-bordered">
            <td>
                <img src="@item.ImagePath" width="150" />
            </td>
            <td id="table-text">
                <p id="pstyle">@Html.DisplayFor(modelItem => item.Name)</p>
                <hr />
                <p id="pstyle">Preis in Euro</p>
                <p>@Html.DisplayFor(modelItem => item.Price)</p>
                <hr />
                <p id="pstyle">Hersteller</p>
                <p>@Html.DisplayFor(modelItem => item.CompanyName)</p>
            </td>
            <td id="textcenter">
                <form method="post" action="/Cart/AddOneProductToChart">

                    @*<input type="hidden" name="qty" value="1" />*@
                    <input type="hidden" name="proId" value="@item.Id" />

                    <input type="submit" value="In den Warenkorb legen" class="btn btn-default"/>
                    <br />
                    @Html.ActionLink("Zur Detailansicht", "Details", new { id = item.Id })
                </form>
            </td>
        </tr>
    }
</table>
